body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/flower.png');
  background-size: 100%;
  min-height: 100vh;
  min-width: 100vh;
  /* background-color: pink; */
  color: rgb(242, 8, 168);
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

h2 {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  color: #e598d1;
  background-color: rgb(243, 231, 233);
}


.actions {
    display: flex;
    justify-content: center;
}

.a {
    color: palevioletred;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10%;
    border-color: pink;
  }
